@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --verde: #219150;
  --verde-claro: #219100;
  --negro: #10221b;
  --blanco: #fff;
  --blanco-suave: #eee;
  --border: 2px solid var(--negro);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--blanco);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--negro);
  }
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: var(--border);
  color: var(--blanco-suave);
  cursor: pointer;
  background: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;

  &:hover {
    background: var(--negro);
    color: var(--blanco);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: var(--blanco);
  box-shadow: var(--box-shadow);

  .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--negro);
    font-weight: bolder;
    i {
      color: var(--verde);
    }
  }
  .navbar {
    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: var(--negro);

      &:hover {
        color: var(--verde);
      }
    }
    #nav-close {
      font-size: 5rem;
      cursor: pointer;
      color: var(--negro);
      display: none;
    }
  }
  .iconos a,
  .iconos div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: var(--negro);

    &:hover {
      color: var(--verde);
    }
  }

  #menu-btn {
    display: none;
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);

  &.active {
    transform: translateY(0%);
  }

  #close-search {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    cursor: pointer;
    color: var(--blanco);
    font-size: 6rem;

    &:hover {
      color: var(--verde);
    }
  }
  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--blanco);
    display: flex;
    align-items: center;

    input {
      width: 100%;
      font-size: 2rem;
      color: var(--blanco);
      text-transform: none;
      background: none;
      padding-right: 2rem;

      &::placeholder {
        color: #aaa;
      }
    }
    label {
      font-size: 3rem;
      cursor: pointer;
      color: var(--blanco);

      &:hover {
        color: var(--verde);
      }
    }
  }
}

.home {
  padding: 0;

  .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;

    &.second {
      justify-content: flex-start;
    }

    .content {
      width: 50rem;

      span {
        font-size: 4rem;
        color: var(--blanco);
        text-shadow: 2px 2px 2px var(--negro);
      }

      h3 {
        font-size: 6rem;
        color: var(--verde);
        padding-top: 2rem;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px var(--verde);
      }
      p {
        line-height: 1.5;
        color: var(--blanco);
        font-size: 2rem;
        padding: 0.5rem 0;
        text-shadow: 1.5px 1.5px 2px var(--negro);
      }
      a {
        text-shadow: 1.5px 1.5px 2px var(--negro);
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: var(--negro);
}

//media queries
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;

    &.second {
      justify-content: center;
      background-position: left !important;
    }
    .content {
      text-align: center;
      span {
        font-size: 3rem;
      }
      h3 {
        font-size: 4rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    #menu-btn {
      display: inline-block;
    }
    .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: var(--blanco);
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      }

      a {
        margin: 1rem 0;
        font-size: 3rem;
      }
      #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
    }
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
