<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <main id="login">
        <div class="log">
            <h1>Inicia sesión </h1>
            <form action="/login" method="post" id="logs">
                <input type="email" name= "correo" id="correo" placeholder="Correo electronico" autocomplete="on">
                <label for="correo"></label>
                <input type="password" name="contraseña" id=" contra" placeholder="Contraseña" required autocomplete>
                <label for="contra"></label>
                    
                    <label for="recordar"> 
                    <input type="checkbox" name="recordar" id=" recordar">Recordar
                    </label>
                    
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>
</body>
</html>