<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/bccfa837a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>
<body id="reg">
    <!-- seccion del header -->
    <header class="header">
        <a href="#" class="logo"> <i class="fa-solid fa-mountain"></i> TurisJu</a>

        <nav class="navbar">
            <div id="nav-close" class="fas fa-times"></div>
            <a href="#home">inicio</a>
            <a href="#equipo">equipo</a>
            <a href="#paquetes">paquetes</a>
            <a href="#tienda">tienda</a>
            <a href="#reseña">reseñas</a>
            <a href="#blogs">blogs</a>
        </nav>

        <div class="iconos">
            <div id="menu-btn" class="fas fa-bars"></div>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="search-btn" class="fas fa-search"></div>
        </div>
    </header>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <main id="form">
        
        <div class="regitr">
                
        
        <h1>Registráte</h1>
        <form action="/register" method="post" id="registro">
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre">
            <label for="Nombre"></label>

            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
            <label for="Apellido"></label>

            <input type="email" name="email" id="email" placeholder="E-mail">
            <label for="email"></label>

            <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña" required>
            <label for="contraseña"></label>

            <button type="submit">Registráte</button>

            <label class="frase">Ya tienes una cuenta?</label>
            <a href="/login">Inicia sesión</a>

        </form>
    
        </div>
    </main>
    
</body>
</html>