/*formulario de registro*/
*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*div.regitr{
    border: 1px solid;
    border-radius: 11px;
    padding: 99px 44px;

}*/

main#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
main#form h1{
    margin: 12px;
    text-align: center;
}
form#registro label.frase{
    padding: 4px;
}
form#registro{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form#registro input{
    border-bottom : 1px solid;
    margin-bottom: 12px ;
    text-align: left;
    width: 70vw;
    max-width: 300px;
    padding: 12px;
    

}
form#registro input:focus{
    border-bottom: 1px solid rgb(71, 71, 156);
    outline: none; 
    border-bottom-color: #9ecaed; 
    box-shadow: 0 0 10px #9ecaed;


}
form#registro button{
    background-color: black;
    color:white;
    padding: 4px;
    width: 70vw;
    max-width: 300px;
}
form#registro button:hover{
    background-color: rgb(167, 160, 160);
    color: black;
}
@media(min-width:480px){
    div.regitr{
        
        border-radius: 11px;
        padding: 66px 21px;
        box-shadow: 0px 0px 10px rgb(174, 169, 169);
        background-color: white;
    }
div.log{
    border-radius: 11px;
        padding: 66px 21px;
        box-shadow: 0px 0px 10px rgb(174, 169, 169);
        background-color: white;
}

}
@media (max-width:479px){
    main#form h1.mensaje{
        display: none;
    }
    main#login h1.mensaje2{
        display: none;
    }
    main#form{
        background-color: white;
    }
    main#login{
        background-color: white;
    }
}
main#form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*formulario de login*/

/*div.log{
    display: flex;
    flex-direction: column;
    align-items: center;

}
div.logs h1{
    margin: 12px;
}
main#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
form#logs{
    display: flex;
    flex-direction: column;}
form#logs input{
    border-bottom : 1px solid;
    margin-bottom: 12px ;
    text-align: left;
    width: 70vw;
    max-width: 300px;
    padding: 12px;
        
    
    }
    form#logs button{
        background-color: black;
        color:white;
        padding: 4px;
        width: 70vw;
        max-width: 300px;
    }
    form#logs button:hover{
        background-color: rgb(167, 160, 160);
        color: black;
    }
    */
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color:lightslategray;
        background-size: cover;
    }
    main#login div.log h1{
        text-align: center;
    }
    main#login{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    form#logs{
        display: flex;
        flex-direction: column;
    }
    form#logs button{
        background-color: black;
        color:white;
        padding: 4px;
        width: 70vw;
        max-width: 300px;
    }
    form#logs input[type=email]{
        border-bottom : 1px solid;
        margin-bottom: 12px ;
        text-align: left;
        width: 70vw;
        max-width: 300px;
        padding: 12px;
            
        
        }
        form#logs input[type=password]{
            border-bottom : 1px solid;
            margin-bottom: 12px ;
            text-align: left;
            width: 70vw;
            max-width: 300px;
            padding: 12px;
                
            
            }
            form#logs input[type=checkbox]{
            margin: 10px;

            }
            form#logs button:hover{
                background-color: rgb(167, 160, 160);
                color: black;
            }
            main#login{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
            }