<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="carro">
    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>



    <main class="form-carro">
        <div class="carro">
            <h1 class="carro-text">Carro de compras</h1>
            <form action="/carro" method="post">
                <div class="form-datos-usuario">
                    <p><strong>Datos del usuario</strong></p>
                    <div class="box-datos">
                        <input type="text" name="Nombre" id="Nombre" placeholder="Nombre">
                        <label for="Nombre"></label>
                    </div>

                    <div class="box-datos">
                        <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
                        <label for="Apellido"></label>
                    </div>

                    <div class="box-datos">
                        <input type="email" name="correo" id="correo" placeholder="Correo Electrónico">
                        <label for="correo"></label>
                    </div>

                    <div class="box-datos">
                        <input type="number" name="telefono" id="telefono" placeholder="Teléfono">
                        <label for="telefono"></label>
                    </div>
                </div>

                <div class="form-datos-reserva">
                    <p><strong>Datos de la reserva</strong></p>

                    <div class="box-datos">
                        <label>Fecha de reserva: </label>
                        <input type="date" name="fecha">
                    </div>

                    <div class="box-datos">
                        <label>Cantidad de personas: </label>
                        <input type="number" name="cantidad-personas" id="cantidad" placeholder="Cantidad de personas">
                    </div>

                    <div class="box-datos">
                        <label>Método de pago: </label>
                        <select name="medio-pago">
                            <option value="1">Efectivo</option>
                            <option value="2">Transferencia</option>
                            <option value="3">Débito</option>
                            <option value="3">Tarjeta de crédito</option>
                        </select>
                    </div>

                    <div class="box-datos">
                        <textarea name="comentario" id="comentario">Comentarios...</textarea>
                    </div>
                </div>
                <button type="submit" class="boton-carro">Comprar</button>

            </form>
        </div>
    </main>

</body>

</html>