<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/css.scss">
    <link rel="stylesheet" href="css/css.css">
    <link href="../public/css/css.scss" rel="stylesheet/scss" type="text/css">
    <script src="https://kit.fontawesome.com/bccfa837a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>

    <!-- seccion del header -->
    <header class="header">
        <a href="#" class="logo"> <i class="fa-solid fa-mountain"></i> TurisJu</a>

        <nav class="navbar">
            <div id="nav-close" class="fas fa-times"></div>
            <a href="#home">inicio</a>
            <a href="#equipo">equipo</a>
            <a href="#paquetes">paquetes</a>
            <a href="#tienda">tienda</a>
            <a href="#reseña">reseñas</a>
            <a href="#blogs">blogs</a>
        </nav>

        <div class="iconos">
            <div id="menu-btn" class="fas fa-bars"></div>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="search-btn" class="fas fa-search"></div>
        </div>
    </header>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <!-- seccion de boton de busqueda -->

    <!-- seccion del home -->
    <section class="home" id="home">

        <div class="swiper home-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="box second"
                        style="background: url(https://i.gyazo.com/897344247eac255f3e3707c1a2374384.jpg) no-repeat;">
                        <div class="content">
                            <span>Conéctate con lo auténtico</span>
                            <h3> viva <span class="pLetra">J</span><span class="sLetra">u</span><span
                                    class="tLetra">J</span><span class="cLetra">u</span><span class="qLetra">y</span>
                            </h3>
                            <p>
                                Jujuy es un destino pleno de naturaleza donde podrás explorar diferentes entornos
                                naturales a poca distancia uno del otro. Sus regiones -Puna, Quebrada, Valles y Yungas-
                                brindan escenarios mágicos para la práctica de actividades increíblemente gratificantes.
                            </p>
                            <a href="#" class="btn">Informacion</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box"
                        style="background: url(https://larutanatural.gob.ar/panel/public/uploads/rutas-naturales/originals/94a9c942-31ac-4dd5-a7c4-05fcbbd5611f.jpg) no-repeat;">
                        <div class="content">
                            <span>Salinas Grandes</span>
                            <h3> viva <span class="pLetra">J</span><span class="sLetra">u</span><span
                                    class="tLetra">J</span><span class="cLetra">u</span><span class="qLetra">y</span>
                            </h3>
                            <p>Geográficamente las Salinas Grandes se ubican tanto en la Provincia Jujuy como en la
                                Provincia Salta es el cuarto salar más grande de Sudamérica. Por
                                cuestiones climatológicas y visuales como recurso turístico son más atractivas del lado
                                jujeño, ya que están más blancas. </p>
                            <a href="#" class="btn">Informacion</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box second"
                        style="background: url(https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2019/03/04110529/Carnaval-de-Tilcara-2019-15.jpg) no-repeat;">
                        <div class="content">
                            <span>Explora nuestra cultura</span>
                            <h3> viva <span class="pLetra">J</span><span class="sLetra">u</span><span
                                    class="tLetra">J</span><span class="cLetra">u</span><span class="qLetra">y</span>
                            </h3>
                            <p>Los festejos del carnaval en la Quebrada y en la Puna, se inicia en el mes de febrero con
                                la ceremonia del
                                desentierro, se festeja de sábado a martes y culmina con el "carnaval chico" o entierro.
                            </p>
                            <a href="#" class="btn">Informacion</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </section>
    <!-- seccion del home -->

    <!-- seccion de categorias -->

    <section class="categorias">

        <h1 class="heading">un titulo</h1>

        <div class="box-container">
            <div class="box">
                <img src="https://www.deaventura.pe/aplication/webroot/imgs/catalogo/trekking.jpg" alt="">
                <h3>Un texto</h3>
                <p>otro texto</p>
                <a href="#" class="btn">Informacion</a>
            </div>
        </div>

    </section>

    <!-- seccion de categorias -->


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>