<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body id="reg">
    <!-- seccion del header -->
    <%- include('./partials/header.ejs') %>
    <!-- seccion del header -->

    <!-- seccion de boton de busqueda -->
    <div class="search-form">

        <div id="close-search" class="fas fa-times"></div>

        <form action="">
            <input type="search" name="" placeholder="Que estas buscando?...." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <main id="form">
        <div class="reg">
        <h1 class="mensaj">Bienvenido a Jujuy!</h1>
        <div class="regitr">
                
        
        <h1 class=" mensaje">Registráte</h1>
        <form action="/register" method="post" id="registro">
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre">
            <label for="Nombre"></label>

            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
            <label for="Apellido"></label>

            <input type="email" name="email" id="email" placeholder="E-mail">
            <label for="email"></label>

            <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña" required>
            <label for="contraseña"></label>

            <button type="submit">Registráte</button>

            <label class="frase">Ya tienes una cuenta?</label>
            <a href="/register/login">Inicia sesión</a>

        </form>
    
        </div>
    </div>
    </main>
    
</body>
</html>