<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"> 
    <title>Document</title>
    <link rel="stylesheet" href="../css/css.css">
    <link href="css/css.css" rel="stylesheet/scss" type="text/css">
    <script src="https://kit.fontawesome.com/bccfa837a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
</head>